#root {
    height: 100%;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker__input-container {
    width: 100% !important;
}

.react-datepicker__input-container > input{
    width: 100% !important;
    text-align: center;
    height: 35px;
    border: 1px solid rgba(34,36,38,.15);
}